/* No seu index.css ou App.css */
*{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita scroll lateral indesejado */
}

/* O Vite as vezes coloca um max-width: 1280px e centraliza no App.css, remova isso! */
#root {
  max-width: none !important; 
  text-align: center;
}
